.lbBanner{
    -fx-background-color:#6D9886;
    -fx-text-fill: #F7F7F7;
}
Button{
    -fx-text-fill: #6D9886;
}
btnSave:hover{
    -fx-text-fill: #6CBF86;
    -fx-cursor: hand;
    -fx-background-color: #6A9886;
}